@import url('https://fonts.googleapis.com/css?family=Bangers&display=swap');
.homepage-component {
    height: 100%;
    display: block;
    text-align: center;

    h1 {
        padding-top: 40px;
        color: rgb(212, 63, 43);
        font-size: 3rem;
        font-family: 'Bangers', cursive;
        text-shadow: 1px 1px hsl(7, 66%, 80%),
            2px 2px hsl(7, 66%, 40%),
            3px 3px hsl(7, 66%, 35%),
            4px 4px hsl(7, 66%, 34%),
            5px 5px hsl(7, 66%, 33%),
            6px 6px hsl(7, 66%, 32%),
            7px 7px hsl(7, 66%, 31%),
            8px 8px hsl(7, 66%, 30%),
            9px 9px hsl(7, 66%, 29%),
            10px 10px hsl(7, 66%, 28%),
            10px 10px 30px rgba(0,0,0,.7),
    }

    h3 {
        font-family: 'Bangers', cursive;
        font-size: 1.5rem;
    }

    img {
        margin: 30px 0;
        border-radius: 10px;
    }
}